---
layout: default
title: Registration Information

registrations:
  early:
    - type: Conference
      price: [650, 750, 350]
    - type: Workshop
      price: [300, 325, 200]
    - type: Tutorial (Full-day)
      price: [300, 325, 200]
    - type: Tutorial (Half-day)
      price: [250, 275, 175]
    - type: Tutorial (2 half-days on the same day)
      price: [300, 325, 200]
  late:
    - type: Conference
      price: [750, 850, 450]
    - type: Workshop
      price: [350, 375, 250]
    - type: Tutorial (Full-day)
      price: [350, 375, 250]
    - type: Tutorial (Half-day)
      price: [300, 325, 225]
    - type: Tutorial (2 half-days on the same day)
      price: [350, 375, 250]
---

<h1>Registration Information</h1>

<!--<a href="https://www.regonline.com/acmsigcomm2018" data-role="button" class="button">Register Now</a>-->
<!--TBA-->

<p>&nbsp;</p>

<p>
  Here is some information about registration prices and categories <span style="color:#ff0000;font-size:120%;font-weight:700;">for the last year</span>. All fees are in US Dollars.
  <!-- For registration, please <a href="https://www.regonline.com/acmsigcomm2017" rel="external">click here</a>. If you have any questions, please contact the SIGCOMM Registration Chair.  -->
</p>

<ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="registration">
  <li data-role="list-divider">Early Registration (Before July 17, 11:59pm CDT)</li>

  <li data-icon="false">
    <div class="ui-grid-a">
      <div class="ui-block-a"><p><b>Event</b></p></div>
      <div class="ui-block-b"><p><b>Member</b></p></div>
      <div class="ui-block-b"><p><b>Non-Member</b></p></div>
      <div class="ui-block-b"><p><b>Student</b></p></div>
    </div>
  </li>
  {% for reg in page.registrations.early %}
  <li data-icon="false">
    <div class="ui-grid-a">
      <div class="ui-block-a"><p>{{ reg.type }}</p></div>
      <div class="ui-block-b"><p>{{ reg.price[0] }}</p></div>
      <div class="ui-block-b"><p>{{ reg.price[1] }}</p></div>
      <div class="ui-block-b"><p>{{ reg.price[2] }}</p></div>
    </div>
  </li>
  {% endfor %}
</ul>

<ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="registration">
  <li data-role="list-divider">Late Registration (Starting from July 18, 00:00am CDT)</li>
  <li data-icon="false">
    <div class="ui-grid-a">
      <div class="ui-block-a"><p><b>Event</b></p></div>
      <div class="ui-block-b"><p><b>Member</b></p></div>
      <div class="ui-block-b"><p><b>Non-Member</b></p></div>
      <div class="ui-block-b"><p><b>Student</b></p></div>
    </div>
  </li>
  {% for reg in page.registrations.late %}
  <li data-icon="false">
    <div class="ui-grid-a">
      <div class="ui-block-a"><p>{{ reg.type }}</p></div>
      <div class="ui-block-b"><p>{{ reg.price[0] }}</p></div>
      <div class="ui-block-b"><p>{{ reg.price[1] }}</p></div>
      <div class="ui-block-b"><p>{{ reg.price[2] }}</p></div>
    </div>
  </li>
  {% endfor %}
</ul>
* Note: There is no registration fee for the N2Women workshop.

<h2>A Special Note on Author Registration Policy</h2>

<p>Each accepted paper/poster must be presented by one of its author(s) at the SIGCOMM main conference or workshop. The author must register for the corresponding event according to his/her membership status: e.g., for a student author presenting a paper/poster, he/she only needs to register under the student category. We do not require a full-rate registration for each paper.</p>

<h2>Extras</h2>

<p>All conference registrations (Member / Non-member / Student) include <b>breakfasts, coffee breaks, and lunches on Tuesday, Wednesday, and Thursday, a welcome reception, a banquet dinner and a conference kit</b>. In addition to these items, a student registered for the conference will also receive a ticket to the student dinner.</p>

<p>Workshop / Tutorial registration includes <b>breakfast, coffee breaks, lunch on the day of the registered Workshop / Tutorial</b>. (Welcome Reception and banquet dinner are not included.)</p>
