<ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="datetbl">
    {% for itemKeyValue in site.data.dates %}
    {% assign item = itemKeyValue[1] %}
    {% if include.track == null and item.important == true %}{% assign included = true %}{% elsif include.track != null and item.track == include.track %}{% assign included = true %}{% else %}{% assign included = false %}{% endif %}
    {% if included %}
    <li data-icon="false">
        <div class="ui-grid-a">
            <div class="ui-block-a"><h2>{{ item.date }}</h2></div>
            <div class="ui-block-b"><p>{% if include.track == null %}{{ site.data.tracks[item.track].title }} {{ item.info_main }}{% else %}{{ item.info_main }}{% endif %}</p></div>
        </div>
    </li>
    {% endif %}
    {% endfor %}
    <li class="dateslibtn ui-btn ui-li" data-theme="a" onclick="showall('.dateslibtn');">
        <div><a>Older Dates</a><span class="ui-icon ui-btn-icon-right ui-icon-plus ui-icon-shadow">&nbsp;</span></div>
    </li>
</ul>