<div class="imagetext">
    <img src="{{ site.baseurl }}/images/hotel_1.jpg" style="width:100%;"  alt="Hotel from Buda side" />
</div>

<h1>Conference Hotel</h1>


The conference hotel of ACM SIGCOMM 2018 is InterContinental Budapest located on the Danube bank in the heart of the Hungarian capital. The SIGCOMM 2018 workshops and tutorials meet on the first floor of the hotel.
On August 20, InterContinental Budapest hosts the SIGCOMM 2018 reception during the spectacular fireworks held on the Danube to celebrate the most important national holiday of Hungarians. The hotel is a leisurely two-minute walk to [Vigadó]({{ site.baseurl }}/vigado_mc.html), which serves as the venue for the main conference of SIGCOMM 2018. InterContinental Budapest also lies in close proximity to other SIGCOMM 2018 social events and numerous Budapest landmarks, including the Széchenyi Chain Bridge, Gresham Palace, Hungarian Parliament Building, St. Stephen’s Basilica, Dohány Street Synagogue, and Buda Castle with its Fisherman’s Bastion and Matthias Church.

The ACM arranged for SIGCOMM 2018 attendees a block of sleeping rooms for stays in the hotel during August 18-26 with nightly rates starting from 199 Euros. To reserve a sleeping room at InterContinental Budapest, please click on the button below.

[Reserve a Hotel Room](https://book.passkey.com/go/d7d674a5ACM){: data-role="button" class="button" }

