<ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="datetbl">
  {% for item in site.data.news %} 
  <li data-icon="false">
    <div class="ui-grid-a">
      <div class="ui-block-a"><h2>{{ item.date }}</h2></div>
      <div class="ui-block-b"><p>{{ item.news }}</p></div>
    </div>
  </li>
  {% endfor %}

  <li class="newslibtn ui-btn ui-li" data-theme="a" onclick="showall('.newslibtn');">
    <div><a>Older News</a><span class="ui-icon ui-btn-icon-right ui-icon-plus ui-icon-shadow">&nbsp;</span></div>
  </li>
</ul>
