<!-- <div  class="presenters"> -->
  <ul class="program" data-role="listview" data-inset="true" data-theme="d" data-dividertheme="a">
    {% for person in include.presenters %}     
      <li data-icon="false" class="prog-item">
        <div data-role="collapsible" class="paper-navgroup" data-collapsed="true" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
          <h4>
            <div {{ item_style }}>
              <p class="paper-header">
                <div class="ui-grid-a">
                  <div class="ui-block-a"><p>{{ person.name }}</p></div>
                  <div class="ui-block-b"><p>{{ person.affiliation }}</p></div>
                </div>
              </p>
            </div>
            <div class="ui-li-aside">
            </div>
          </h4>
          <ul data-role="listview" data-inset="false">
            <li data-icon="false">
              <!--<p>-->
                <!--{% if person.photo %}<img class="keynote-photo" src="{{ person.photo }}"/>{% endif %}-->

              <!--</p><br/>-->


              <p><span style="font-weight: 700;">Title: </span>
               {{ person.title }}
              </p><br/>
            <p><span style="font-weight: 700;">Abstract: </span>
              {{ person.abstract }}
            </p><br/>
            <p><span style="font-weight: 700;">Bio: </span>
              {{ person.bio }}
            </p><br/>
            </li>
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
  <!-- </div> -->
