{% if paper.link   and paper.link != ""  %}{% assign has_link   = true %}{% else %}{% assign has_link   = nil %}{% endif %}
{% if paper.slides and paper.slides != "" %}{% assign has_slides = true %}{% else %}{% assign has_slides = nil %}{% endif %}
{% if paper.video  and paper.video != "" %}{% assign has_video  = true %}{% else %}{% assign has_video  = nil %}{% endif %}
  
{% comment %}<!-- make space for the button(s) -->{% endcomment %}
{% if has_link or  has_slides %}{% assign item_style = 'style="width: 85%"' %}{% endif %}{%
   if has_link and has_slides %}{% assign item_style = 'style="width: 78%"' %}{% endif %}{%
   if has_link and has_slides and has_video %}{% assign item_style = 'style="width: 70%"' %}{% endif %}

<li data-icon="false" class="prog-item {{ progitemclass }}">
  <!--<div {{ item_style }}>-->

      <table>
         <tr>
             {% if paper.time and paper.time != "" %}
             <td style="font-size:80%; padding-right:10px; max-width:20%;">{{paper.time}}</td>
             {% endif %}
             <td style="width:100%;text-align:left;">

                <p class="paper-header">
                    {{ paper.title }}

                </p>
                <!-- /* the spaces after various "%s" below are important for correct list filtering! */ -->
                <p>{{ paper.authors | replace_regex: '\(([^\)]*)\)', '<em>(\1)</em>'}}</p>
             </td>
             {% if has_link %}
                <td>
                <a style="color: dimgray;" href="{{paper.link}}" rel="external" target="_blank">
                    <i class="fa fa-file-text"></i>
                </a>
                </td>
          {% endif %}
             {% if paper.slides and paper.slides != "" %}
                <td style="padding-left:4px;">
                <a style="color: dimgray;" href="{{site.baseurl}}/{{paper.slides}}" rel="external" target="_blank">
                    <i class="fa fa-file-powerpoint-o"></i>
                </a>
                </td>
          {% endif %}
             {% if paper.video and paper.video != "" %}
        <td>
        <!--<div style="background-color: #ffffff;border-radius: 2px;display:inline-block">-->
        <a style="color: dimgray;" href="{{paper.video}}" rel="external" target="_blank">
        <!--<span class="show_hide" onclick="show_hide('div_{{session.title}}')">-->
        <i class="fa fa-youtube" style="font-size:100%; color:dimgray;" ></i>
        <!--</span>-->
        </a>
        <!--</div>-->
        </td>
        {% endif %}

         </tr>
  </table>
  <!--</div>-->
  <!--<div class="ui-li-aside-item">-->
      <!--{% if has_link %}-->
        <!--<div class="button-paper">      -->
          <!--<a href="{{ paper.link }}" rel="external" target="_blank" class="ui-link">Paper</a>-->
        <!--</div>-->
      <!--{% endif %}-->
      <!--{% if has_slides %}-->
        <!--<div class="button-paper">      -->
          <!--<a href="{{ paper.slides }}" rel="external" target="_blank" class="ui-link">Slides</a>-->
        <!--</div>-->
      <!--{% endif %}-->
      <!--{% if has_video %}-->
        <!--<div class="button-paper">      -->
          <!--<a href="{{ paper.video }}" rel="external" target="_blank" class="ui-link">Video</a>-->
        <!--</div>-->
      <!--{% endif %}-->
  <!--</div>-->
</li>
