<li class="prog-workshop prog-item {{ progitemclass }} {% if session.remote and session.remote != "" %}ui-li-has-remote{% endif %}">
<table style="width: 100%;">
  <tr>
    <!--<td style="font-size:80%; padding-right:10px; max-width:20%;">{{session.time}}</td>-->
    <td style="width: 100%;text-align: left;">

      <h3>
        {{session.time}} {{ session.title }}
      </h3>

    </td>
    <td style="max-width:5%; text-align:right;">
      {% if session.link and session.link != "" %}
      <a href="{{site.baseurl}}/{{ session.link }}"><i class="fa fa-calendar"></i></a>
      {% endif %}
    </td>
  </tr>
</table>

{% if session.room and session.room != "" %}
<p>Location: {{ session.room }}</p>
{% endif %}
</li>
