<li class="prog-workshop prog-item {{ progitemclass }} {% if session.remote and session.remote != "" %}ui-li-has-remote{% endif %}">
  <h3>
    {{ session.time }}
    {% if session.link and session.link != "" %}
      <a href="{{ session.link }}">{{ session.title }}</a>
    {% else %}
      {{ session.title }}
    {% endif %}
  </h3>
  {% if session.room and session.room != "" %}
    <p>Room: {{ session.room }}</p>
  {% endif %}
  {% if site.enable_remote and session.remote and session.remote != "" %}
    <div class="ui-li-aside-item">
      {% if session.remote-qa and session.remote-qa != "" %}
        <div class="button-remote">
          {% assign tags = session.remote-qa | remove: '#' | split: ' ' %}

          <a href="https://twitter.com/intent/tweet?hashtags={{ tags | join: ',' }}" rel="external" target="_blank" class="ui-link"><i class="fa fa-twitter"></i> Q&A</a>
        </div>
      {% endif %}
      <div class="button-remote">
        <a href="{{ session.remote }}" rel="external" target="_blank" class="ui-link">Live Streaming</a>
      </div>
    </div>
  {% endif %}
</li>
