<li class="ui-li ui-bar-a prog-item ui-li-divider {{ progitemclass }} {% if forloop.last %}listlast{% endif %} {% if forloop.last %}listlast{% endif %} {% if site.enable_remote and session.remote and session.remote != "" %}ui-li-has-remote{% endif %}" data-role="list-divider">


  <h3 style="font-weight: 700;">
    {{ session.time }}
    {{ session.title }}
  </h3>

<!--{% if session.link and session.link != "" %}-->
    <!--<div style="float:right; text-align: right;"><a href="{{site.baseurl}}/{{ session.link }}"><i class="fa fa-calendar"></i></a></div>-->
    <!--{% endif %}-->

  {% if include.is_break != true %}
    {% if session.authors and session.authors != "" %}
      <p>Session Chair: {{ session.authors | replace_regex: '\(([^\)]*)\)', '<em>(\1)</em>'}}</p>
    {% endif %}
    {% if session.room and session.room != "" %}
      <p>Location: {{ session.room }}</p>
    {% endif %}
  {% endif %}
  {% if include.is_break != true %}
    {% if site.enable_remote and session.remote and session.remote != "" %}
      <div class="ui-li-aside-item">
        {% if session.remote-qa and session.remote-qa != "" %}
          <div class="button-remote">
            {% assign tags = session.remote-qa | remove: '#' | split: ' ' %}

            <a href="https://twitter.com/intent/tweet?hashtags={{ tags | join: ',' }}" rel="external" target="_blank" class="ui-link"><i class="fa fa-twitter"></i> Q&A</a>
          </div>
        {% endif %}
        <div class="button-remote">
          <a href="{{ session.remote }}" rel="external" target="_blank" class="ui-link">Live Streaming</a>
        </div>
      </div>
    {% endif %}
  {% endif %}
</li>
{% comment %}
  // a list divider is not visible if not followed by an ordinary item,
  // when data-filter is true. workaround: included an invisible li.
  // here we include the session title so that it can be searchable
{% endcomment %}
<li class="hidden">{{ session.title }}</li>
