<li class="prog-topic-preview prog-item {{ progitemclass }} {% if session.remote and session.remote != "" %}ui-li-has-remote{% endif %}">

<table>
  <tr>

      <td style="width:100%;text-align:left;">
      <p>
        <h3 style="font-weight: 700;">
          {{ session.time }}
          {{ session.title }}
        </h3>
      </p>

        {% if session.authors and session.authors != "" %}
          <p>Session Chair: {{ session.authors | replace_regex: '\(([^\)]*)\)', '<em>(\1)</em>'}}</p>
        {% endif %}

        {% if session.room and session.room != "" %}
          <p>Location: {{ session.room }}</p>
        {% endif %}
    </td>


    {% if session.video and session.video != "" %}
        <td>
            <!--<div style="background-color: #ffffff;border-radius: 2px;display:inline-block">-->
              <a style="color: #5a5454;" href="{{session.video}}" rel="external" target="_blank">
                <!--<span class="show_hide" onclick="show_hide('div_{{session.title}}')">-->
                  <i class="fa fa-youtube" style="font-size:200%;" ></i>
                <!--</span>-->
                  </a>
            <!--</div>-->
        </td>
         {% endif %}

        {% if session.slides and session.slides != "" %}
                <td style="padding-left:4px;">
                <a style="color: #ffffff;" href="{{site.baseurl}}/{{session.slides}}" rel="external" target="_blank">
                    <i style="font-size:160%; color:#5a5454;" class="fa fa-file-powerpoint-o"></i>
                </a>
                </td>
          {% endif %}

    </tr>
</table>

</li>
