<li class="prog-topic-preview-talk prog-item {{ progitemclass }} {% if session.remote and session.remote != "" %}ui-li-has-remote{% endif %}">
<table>
    <tr>
        <!--<td style="font-size:80%; padding-right:10px; min-width: 20%; max-width:20%; font-weight:100;">{{session.time}}</td>-->
        <!--<td style="max-width:70%;">-->
            <!--<p class="paper-header">-->
                <!--{{ session.title }}-->
            <!--</p>-->
            <!--&lt;!&ndash; /* the spaces after various "%s" below are important for correct list filtering! */ &ndash;&gt;-->

            <!--<p>Speaker: {{ session.authors | replace_regex: '\(([^\)]*)\)', '<em>(\1)</em>'}}</p>-->
        <!--</td>-->
         {% if session.time and session.time != "" %}
             <td style="font-size:80%; padding-right:10px; max-width:20%;">{{session.time}}</td>
             {% endif %}
             <td style="width:100%;text-align:left;">

                <p class="paper-header">
                    {{ session.title }}
                </p>
                <!-- /* the spaces after various "%s" below are important for correct list filtering! */ -->
                <p>{{ session.authors | replace_regex: '\(([^\)]*)\)', '<em>(\1)</em>'}}</p>
             </td>

        {% if session.video and session.video != "" %}
            <td>
              <a style="color: #5a5454;" href="{{session.video}}" rel="external" target="_blank">
                  <i class="fa fa-youtube" style="font-size:160%;"></i>
              </a>
            </td>
        {% endif %}

        {% if session.slides and session.slides != "" %}
        <td style="padding-left:4px;">
            <a style="color: #5a5454;" href="{{site.baseurl}}/{{session.slides}}" rel="external" target="_blank">
                <i class="fa fa-file-powerpoint-o" style="font-size:140%;"></i>
            </a>
        </td>
        {% endif %}
    </tr>
</table>

</li>
