<div class="imagetext">
    <img src="{{ site.baseurl }}/images/venue/Vigado_2018_BD3.jpg" style="width:100%;"  alt="Vigado 2018" />
</div>

<h1>Vigadó</h1>

The main conference and parallel events of SIGCOMM 2018 meet on August
21-23 in Vigadó. The building stands on the Pest embankment that offers stunning views on Castle and Gellért Hills across the Danube. Vigadó is just one block away from InterContinental Budapest, the <a href="{{ site.baseurl }}/hotel.html">conference hotel</a>.

Designed by Frigyes Feszl in 1859 and inaugurated in 1865, Vigadó is a
legendary concert hall. Its architectural style is a mixture of Oriental and Hungarian Art Nouveau, which mingles romanticism, luxury, and elaborate decoration. Since the inception, Vigadó has played a prominent role in Hungarian history and culture. In 1867, Vigadó hosted the coronation banquet honoring Emperor Franz Joseph I. It is here in 1873 the city of Budapest was born by
merging the towns of Pest, Buda and Óbuda (Old Buda). Highly acclaimed
concerts by world-renowned musicians - including Franz Liszt, Richard
Wagner, Johannes Brahms, Claude Debussy, Béla Bartók, Johann Strauss,
Antonín Dvořák, Arthur Rubinstein, and Sergei Prokofiev to name a few - took place in Vigadó. In particular, Vigadó brought to Hungary the first all-Liszt concert in 1869. In Vigadó, Liszt conducted the premiers for the orchestral versions of Mihály Vörösmarty's Appeal and Ferenc Kölcsey's Himnusz, the Hungarian national anthem. In 1875, Liszt and Wagner jointly organized a Vigadó concert to raise funds for constructing the Bayreuth
Festival Theatre. When celebrating in Vigadó the half-century of his
artistic career, Liszt received a gold laurel wreath and a number of foreign awards, including a honorary membership in the Philharmonic Society of Saint Petersburg.

<div class="imagetext">
    <a href="{{ site.baseurl }}/images/venue/Pesti_vigado_diszlepcso_hres.png" target="_blank"><img src="{{ site.baseurl }}/images/venue/Pesti_vigado_diszlepcso.jpg" style="width:32%;" alt="Pesti Vigado Diszlepcso" /></a>
    <a href="{{ site.baseurl }}/images/venue/IMG_0397.jpg" target="_blank"><img src="{{ site.baseurl }}/images/venue/IMG_0397.jpg" style="width:32%;" alt="IMG_0397" /></a>
    <a href="{{ site.baseurl }}/images/venue/IMG_6118_hres.jpg" target="_blank"><img src="{{ site.baseurl }}/images/venue/IMG_6118.jpg" style="width:32%;" alt="IMG_6118" /></a>

</div>

<h2>Plan of the 2nd floor</h2>
 <a href="{{ site.baseurl }}/images/venue/Pesti_Vigadó_2nd_floor.jpg" target="_blank">
     <img src="{{ site.baseurl }}/images/venue/Pesti_Vigadó_2nd_floor.jpg" style="width:100%;" alt="Pesti Vigado 2nd floor" />
 </a>

<h2>Plan of the 4nd floor</h2>
 <a href="{{ site.baseurl }}/images/venue/Pesti_Vigadó_4th_floor.jpg" target="_blank">
     <img src="{{ site.baseurl }}/images/venue/Pesti_Vigadó_4th_floor.jpg" style="width:100%;" alt="Pesti Vigado 4th floor" />
 </a>

<h2>Plan of the ground floor</h2>
 <a href="{{ site.baseurl }}/images/venue/Pesti_Vigadó_Ground_floor.jpg" target="_blank">
     <img src="{{ site.baseurl }}/images/venue/Pesti_Vigadó_Ground_floor.jpg" style="width:100%;" alt="Pesti Vigado ground floor" />
 </a>
